body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fixed-cart{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  z-index: 1032;
}

.overlay{
  position: fixed;
  inset: 0;
  z-index: 1031;
  content: '';
  background-color: rgba(0, 0, 0, .5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table>:not(caption)>*>*:not(th){
  padding: .8rem .5rem;
}